.controlsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 1.6rem;
}

.controlsContainer button {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;

    padding: .8rem;
    background: #0081A7;
    border: 0;
    border-radius: 2px;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
}
  
.controlsContainer span {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.controlsContainer .legendInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controlsContainer > div button:first-child {
    margin-right: 1rem;
    background: #ff4e4e;
}
