.controlsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;

    /* margin-top: 1.6rem; */
    color: var(--white);
}

.controlsContainer > button,
.controlsContainer > div > button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .6rem;

    margin-top: 1.2rem;

    width: 100%;

    padding: .8rem 1.2rem;
    border: 0;
    border-radius: .4rem;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
}

.controlsContainer > button:disabled {
    background: #bdbdbd;

    cursor: not-allowed;
}

.controlsContainer > div > button {
    display: inline-flex;
}

.controlsContainer .icon {
    display: flex;
    align-self: center;
}
  
.controlsContainer > div > span {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.controlsContainer > div > span > span {
    font-size: 3.2rem;
    font-family: 'New Tegomin', Arial, Helvetica, sans-serif;
}

.controlsContainer .legendInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controlsContainer > div {
    display: flex;
}

.controlsContainer > div > button:first-child {
    margin-right: 1rem;
    background: #ff4e4e;
}
