.countdownContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.countdownContainer .progressCircle {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    position: relative;
    background: conic-gradient(var(--primary) 0deg, var(--background) 0deg 360deg);
    transition: background 1s linear;
}

.countdownContainer .progressCircle > div {
    background-color: var(--background); /* cor do centro da bola */
    width: 230px;
    height: 230px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.countdown {
    display: flex;
    justify-content: center;
    font-size: 4rem;
}

.countdown div {
    display: flex;
}

.countdown div span {
    padding: 0 0.2rem;
    font-family: 'Rajdhani', sans-serif;
}
