.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;

    position: relative;
    color: var(--white);

    /* box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.03); */
}

.headerContainer h3 {
    font-weight: 400;
}

.headerContainer h3 a {
    background: transparent;
    outline: 0;
    font-size: 1rem;
}

.headerContainer h3 .imageHolder {
    display: flex;
    width: 100%;
}

.headerContainer div {
    display: flex;
    align-items: center;

    position: absolute;

    right: 0;
}

.headerContainer .loggedIn,
.headerContainer .loggedOut {
    margin-right: 20rem;
    
}

.headerContainer .loggedIn div {
    position: initial;
    display: flex;
}

.headerContainer .loggedIn div div {
    display: flex;
    border-radius: 50%;

    width: 2.6rem;
    height: 2.6rem;
}

.headerContainer .loggedIn div span {
    margin-left: .4rem;
}

.headerContainer .loggedIn div span.emailNotVerified {
    font-size: .9rem;
    background: rgba(255, 0, 0, 0.308);
    color: rgba(212, 0, 0, 0.6);
    
    padding: .4rem;
    border-radius: 16px;
}

.headerContainer div button {
    padding: .6rem 1rem;
    border: 0;

    background: transparent;
    border-radius: 2px;

    color: var(--primary);
    font-size: 1rem;

    margin-left: 1rem;

    cursor: pointer;
    transition: color 0.3s;
}

.headerContainer div button:hover {
    color: var(--white);
}   
