.headerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .6rem;

    position: relative;
}

.headerContainer h3 {
    font-weight: 400;
}

.headerContainer h3 button {
    background: transparent;
    outline: 0;
}

.headerContainer h3 img {
    width: 100%;
}

.headerContainer div {
    display: flex;
    align-items: center;

    position: absolute;

    right: 0;
}

.headerContainer .loggedIn div {
    position: initial;
    display: flex;
    
    /* margin-right: .8rem; */
}

.headerContainer .loggedIn div img {
    border-radius: 50%;

    width: 2.6rem;
    height: 2.6rem;
}

.headerContainer .loggedIn div span {
    margin-left: .4rem;
}

.headerContainer div button {
    padding: .6rem 1rem;
    border: 0;

    background: var(--primary);
    border-radius: 2px;

    color: var(--background);
    font-size: 1rem;

    margin-left: 1rem;

    cursor: pointer;
}
