.legendsListContainer {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;

    border-radius: 4px;
    padding: 0 2rem;
    background: var(--color-background);

    box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.03);
}

.legendsListContainer::-webkit-scrollbar {
    width: 4px;
}

.legendsListContainer::-webkit-scrollbar-track {
    background: #f5f5f5;
}

.legendsListContainer::-webkit-scrollbar-thumb {
    background: #c0c0c0;
    width: 6px;
}

.legendsListContainer table {
    width: 100%;
    border-collapse: collapse;
    position: relative;
}

.legendsListContainer th,
.legendsListContainer td {
    padding: .6rem;
    /* border-bottom: 1px solid #c0c0c0; */
    background: var(--color-background);
}

.legendsListContainer th {
    color: gray;
    padding: 1rem;

    text-transform: uppercase;
    font: 500 0.75rem Lexend, sans-serif;
    text-align: left;

    position: sticky;
    top: 0;
    z-index: 5;
}

.legendsListContainer .legendName {
    display: flex;
    align-items: center;
}

.legendsListContainer .legendName strong {
    margin-left: 1.2rem;
    font-weight: 400;
    font-size: 1.3rem;
}

.legendsListContainer .legendName div {
    display: flex;
    border-radius: 10px;
}

.legendsListContainer .legendRarity {
    text-transform: capitalize;
    width: 8rem;
}

.legendsListContainer .legendRarity div {
    border: 1px solid var(--primary);
    border-radius: 2px;
    padding: .6rem;
    text-align: center;
}

.legendsListContainer .ownedLegend {
    width: 10rem;
}

.legendsListContainer .ownedLegend span {
    display: flex;
    justify-content: center;

    border-radius: 16px;
    padding: .4rem;

    font-size: .9rem;
    margin-right: 2rem;
}

.legendsListContainer .owned {
    background: rgba(79, 241, 79, 0.767);
    color: #FFF;
}

.legendsListContainer .notOwned {
    background: rgba(255, 0, 0, 0.308);
    color: #FFF;
}
