.spinCodesContainer {
    display: flex;

    border: 2px solid var(--primary);
    border-radius: 4px;

    margin-top: 1rem;
}

.spinCodesContainer span {
    display: flex;
    align-items: center;
    
    padding: 0 .8rem;
    margin: .4rem 0;
    border-right: 2px solid var(--primary);
}

.spinCodesContainer input {
    display: flex;
    flex: 1;

    padding: .8rem;
    font-size: 1.05rem;
    border: 0;
}