.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 80px auto;
  grid-template-areas:
    'Header Header Header'
    'Info Main History';
  column-gap: 4rem;

  margin: 0 auto 2.6rem auto;
  max-width: 80rem;
}

.container > header {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: Header;
}
