.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;

  margin: 2.6rem auto;
  max-width: 80rem;
  /* height: 100vh; */
}

.container header {
  margin-bottom: 2rem;
  text-align: center;
}
